{% extends "base.html" %}

{% block title %}Новое сообщение{% endblock %}

{% block nav %}{% include 'navbar.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8">

        {% if action=="new" %}
            <h3>Создать новое сообщение</h3>
        {% else %}
            <h3>Редактировать сообщение</h3>
        {% endif %}

        <h3>Новое сообщение</h3>
        
        {% from "_formhelpers.html" import render_field %}

        {% if action=="new" %}
        <form method="POST" action="{{ url_for('.post') }}" enctype="multipart/form-data" role="form">
        {% else %}
        <form method="POST" action="{{ url_for('.edit', slug=post.slug) }}" enctype="multipart/form-data" role="form">
        {% endif %}

            {{ form.hidden_tag() }}

            {% if post and post.image %}
            <img src="{{ url_for('static', filename='images/uploads/' + post.image + '.sm.png') }}" class="img-thumbnail" />
            {% endif %}  

            {{  render_field(form.image, class='form-control') }} <!-- картинка  --> 
            {{ render_field(form.title, class='form-control') }}
            {{ render_field(form.body, class='form-control', rows=10) }}
            {{ render_field(form.category, class='form-control') }}
            {{ render_field(form.new_category, class='form-control') }}

            <div class="form-group">
                <label for="tags_field">Tags</label>
                <input class="form-control" id="tags_field" name="tags_field" type="text" value="{{ tags_field }}">
            </div>

            {% if action=="new" %}
            <button type="submit" class="btn btn-primary">Создать</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Обновить</button>
            {% endif %}

        </form>

    </div>

</div>

{% endblock %}