{% extends "base.html" %}

{% block title %}Blog Post{% endblock %}

{% block nav %}{% include 'navbar.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8">

        <h3>Новое сообщение</h3>

        {% from "_formhelpers.html" import render_field %}

        <form method="POST" action="{{ url_for('blog_app.post') }}" enctype="multipart/form-data" role="form">

            {{ form.hidden_tag() }}

            {{ render_field(form.title, class='form-control') }}
            {{ render_field(form.body, class='form-control', rows=10) }}
            {{ render_field(form.category, class='form-control') }}
            {{ render_field(form.new_category, class='form-control') }}

            <button type="submit" class="btn btn-primary">Создать</button>

        </form>

    </div>

</div>

{% endblock %}